body, input, button {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

#celcius {
  margin-bottom: 30px;
}
input {
  width: 50px;
  padding: 10px;
}
button {
  background: #D3D3D3;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.7), 0 1px 2px rgba(0,0,0,.25);
  border-radius: 10px;
  padding: 10px 20px;
  display: inline-block;
  width: 100px;
}

button:hover {
  background: #D3D3D3;
}
button:active {
  background: #BBB;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.25);
}
