.greyBox{
	border:1px solid #8c8c8c;
	background-color:#cccccc;
	margin:20px;
}

.greyBoxNav{
	border:1px solid #8c8c8c;
	background-color:#cccccc;
	margin:8px;
}

.mainContent{
	display:flex;
	justify-content:center;
}

.mainContentTop{
	display:flex;
	justify-content:space-between;
}

.mainContentNav{
	display:flex;
	justify-content:flex-end;
}

.underAside{
	display:flex;
	justify-content:center;
}

header{
	height:150px;
}

section{
	height:500px;
	width:100%;
}

aside{
	height:200px;
	width:30%;
}

footer{
	height:150px;
}

.logo{
	width:22%;
	height:80%;
}

.nav{
	width:175px;
	height:60px;
	justify-content:flex-end;
	align-self:center;
}
